body {
    font-family: sans-serif;
}
/* Основний колір тексту. #434455 */
/* Вторинний колір тексту. #2E2F42 */
/* Задній фон основний #E5E5E5 */
/* Задній фон вторинний #2E2F42 */
/* Акцент #4D5AE5 */
/* Фон кнопка #E7E9FC */
.logo:link {
    color:#2E2F42;
}
.logo span {
    color:#4D5AE5;
}